*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



        
    
    


.navbar{
    
    justify-content: flex-end;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    
    
    
    
}

.navbar .logo{
    font-size: 18px;
    padding-left: 10px;
    padding-right: 0px;
    color: black;
    
    
   

}
.navbar .navbar-expand-lg .bg-light{
    border-style: solid;
    border-radius: 20px;
}
.navbar-toggler {
    padding: 2px;
    margin-right: 15px;
}

/*
.navbar .menu{
    grid-column: 2/ 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    gap: 1em;
    padding: 0;
    
    
    
    
}
.navbar .menu li{
    list-style: none;
    gap: 1em;
}
.navbar .menu a{
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    
}

 li{
     width: 100px;
     height: 10px;
 }
 li:hover{
     font-size: 20px;
 }
**/
 

    


/* estilos main index ..........................................................*/

.container{
    height: auto;
    padding-bottom: 20vh;
    background-image: url(../imagenes/topography.svg);
    box-shadow: 0 8px 32px 0 rgba(216, 51, 241, 0.37);
    border-radius: 30px;
        
    
}
.container-fluid{
    background-color:violet;
    border-radius: 20px;
}


 h1 {
    
    font-size: 40px;
    color: black;
    width: 100%;
    max-width: 750px;
    height: 30px;
    padding-top: 20vh;
    padding-bottom: 20vh;
    font-family: fantasy;
    
   
   
    
    
}
 
 .video{
    width:100%;
    max-width:600px;
    max-width: auto;
    height: 300px;
    margin: 20px;
    padding-left: 0;
    border-radius: 20px;
    box-shadow: 5px 8px 30px magenta;
}


 .texto{
    grid-column: 6/10;
    grid-row: 4/5;
    width: auto;
    height: auto;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px 50px;
    margin-bottom: 30px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba(216, 79, 240, 0.37);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: black;
    
    
}

/**** Contactanos */

.conteiner .formulario{
    grid-column: 5/8;
    grid-row: 3/7;
    height: 300px;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    
}


.nombre{
    padding-bottom: 30px;
    
}
.text1{
    width: auto;
    height: 30px;
}
.email{
    padding-top: 60px;
    padding-bottom: 30px;
}
.text2{
    width: auto;
    height: 30px;
}
.mensaje{
    padding-bottom: 30px;
    padding-top: 50px;
}
.text3 {
    width: auto;
    height: 250px;
    padding-bottom: 50px;
}
.text4{
    width: auto;
    height: 40px;
}

 /** diseños*/

 .container .hs {
     grid-column: 3/6;
     grid-row: 2/3;
     padding-bottom: 50px;

 }
 .card-group{
    box-shadow: 0 8px 32px 0 rgba(216, 79, 240, 0.37);
    border-radius: 20px;
 }
 

 
 .principal2 .img-fluid{
     width: 800px;
 }

 


.info-content .texto{
    grid-column: 4/6;
    width: auto;
    font-size: auto;
    height: 100px;
    padding: 20px;
}


.info-content2 {
    max-width: 1000px;
    width: 100%;
    max-height: 500px;
    height:100% ;
    border-radius: 20px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgba(216, 79, 240, 0.37);
}

/**CONTACTANOS/**/

.info-content2 .textoo{
    max-width: 100%;
    width: 1000px;
    font-size: auto;
    
    padding-top: 20px;
    padding-bottom: 30px;
    
    
}

.info-content2 .texto1{
    padding-top: 10px;
    padding-bottom: 20px;
    width: auto;
    font-size: 15px;


}

                 /* Bikes*/             


    
.imagen {
    width: 400;
    height: 200px;
    border-radius: 30px;
    margin-right: 20px;
    border-style: solid;


}
.imagen1 {
    width: 350px;
    height: 200px;
    border-radius: 30px;
    margin-right: 20px;
    border-style: solid;
    

}
.imagen2{
    width: 400;
    height: 200px;
    border-radius: 30px;
    margin-right: 20px;
    border-style: solid;

}
   

.imagen3{
    width: 350px;
    height:215px;
    border-radius: 30px;
    margin-right: 20px;
    border-style: solid;
}
.imagen4{
    width: 350px;
    height: 215px;
    border-radius: 30px;
    margin-right: 20px;
    border-style: solid;
}
.imagen5{
    width: 400px;
    height: 215px;
    border-radius: 30px;
    margin-right: 20px;
    border-style: solid;
}


    
    




/* footer ...............................................................................*/ 
.pie-pagina{
    width: 100%;
    
    padding: 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
    
}
.pie-pagina a{
    text-decoration: none;
    color:magenta
}

/** MEDIA QUERIS------------------------------------------------------*/
  

@media screen and (max-width:320px) {
    .body{
        width: 100%;
    }
    .navbar{
        grid-column: 1/7;
    }
     .navbar .logo{
     display: none;
     }
     .navbar .menu{
         font-size: 0.5em;
         

     }
     .conteiner{
         height: 250vh;
     }
     .conteiner .info-content{
         width: auto;
         height: auto;
     }
     .conteiner h1 {
         font-size: 25px;
         width: 150px;
         
     }
    
    
     .conteiner .imagen6{
         width: auto;
     }
     .conteiner .imagen7{
         width: auto;
     }
     .conteiner .imagen8{
         width: auto;
     }
     .conteiner .info-content{
         display: flex;
         flex-direction: column;
         height: auto;
         width: auto;
     }
     .conteiner .video {
         width: 20px;
         
        
     }
     .info-content .texto{
         width: auto;
         height: 20px;
         padding-left: 20px;
         font-size: 60px;
         

     }
     .info-content2 .textoo{
         width: auto;
     }
     .info-content2 .texto1{
       width: 100px;
     }
     .principal .imagen{
         width: 300px;
         
     }
     .principal .imagen1{
         width: 300px;
     }
     .principal3 .imagen3{
         width: 300px;
     }
    .principal3 .imagen4{
        width: 300px;
    }
     }


    
@media screen and (max-width:480px){
    .navbar{
    display: grid;
    position: relative;
    width: 100%;
    
    

    }
    .navbar .logo{
        display: none;
    }
    .navbar .menu{
        grid-column: 2/8;

    
        
    }
    .navbar .li{
        width: auto;
        font-size: auto;
    }
    .conteiner{
        height: 150vh;
        
        
    }
    .conteiner h1{
     font-size: auto;
     align-items: center;
     width:auto;

    }
    .hs .titulo2{
        padding-bottom: 0px;
    }
    .conteiner .hs{
        align-items: center;
    }
    .conteiner .imagen6{
        width: auto;
    }
    .conteiner .imagen7{
        width: auto;
    }
    .conteiner .imagen8{
        width: auto;
        padding-bottom: 50px;
    }
    .conteiner .info-content {
        display: flex;
        flex-direction: column;
    }
    .conteiner .video {
        height: auto;
        

    }
    .conteiner .texto {
        width: auto;
        height: 50px;
        font-size: 10px;
    
    }
    .hs h2{
        padding-top: 10px;
    }
    .info-content2 h1{
        align-items: center;
    }
    .info-content2 .textoo{
        width: 200px;
        height: 100px;
        align-items: center;
        font-size: 18px;
    }
    .info-content2 .texto1{
        width: auto;
        align-items: center;
        padding-top: 100px;
        font-size: 20px;
        padding-bottom: 50px;

    }
    .conteiner{
        height: 1000vh;
    }
    .conteiner .principal{
        width: 200px;
    }
    .conteiner .principal3{
        width: 200px;
        height: 100px;
    }
    .principal .imagen{
        width: 300px;
        padding-top: 1px;
        
    }
    .principal .imagen1{
        width: 300px;
    }
    .principal3 .imagen3{
        width: 300px;
    }
   .principal3 .imagen4{
       width: 300px;
       padding-bottom: 10px;
   }
  
    
    
    }

@media screen and (max-width:600px){
    .conteiner{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 180vh;
    }
    .conteiner h1{
        align-items: center;
        
    }
    .conteiner .video{
        width: auto;


    }
    .conteiner .imagen6{
        width: 250px;
        height: 200px;
    }
    .conteiner .imagen7{
        width: auto;
    }
    .conteiner .imagen8{
        width: 250px;
        height: 200px;
        padding-bottom: 60px;
       
    }
    .conteiner .texto{
        width: auto;
    }
    .info-content2 .textoo{
        width:200px;
        font-size: auto;
        
        
       
        
    }
    .info-content2 .texto1{
        font-size: 20px;
        width:auto;
        height: 100px;
        padding-top: 50px;
    }
    
    }
   




@media screen and (max-width: 768px) {
    .navbar .logo {
        display: none;
    }
    .navbar .menu{
        grid-column: 1/9;
    }
    .navbar .menu{
        font-size: 15px;
    }
    .conteiner{
        height: 200vh;
    }
    .conteiner h1 {
        grid-column: 6/9;
        margin: 20px;
        
    }
    .conteiner .info-content {
        display: flex;
        flex-direction: column;
        
    }
    .conteiner .video{
        width:auto;
        grid-column: 3/4;
        align-items: center;

    }
    .conteiner .texto{
        grid-column: 3/6;
        width: 3fr;
        align-items: center;
        
    }
    .conteiner {
        display: flex;
        flex-direction: column;
        height: 230vh;

    }
    .info-content2{
        width: auto;
    }
    .info-content2 .textoo{
        width: auto;
        font-size: auto;
        margin-left: 30px;
        
        
        
    }
    .info-content2 .texto1{
        font-size: auto;
        width: auto;
        margin-left: 30px;
    }
    .conteiner .imagen8{
       padding-bottom: 20px;
    }
    }
        
    

    
    
     
        
    
    


    
