  /*********************************************HOME***************************************************************/
  .container{
    height: auto;
    padding-bottom: 20vh;
    background-image: url(../imagenes/topography.svg);
    box-shadow: 0 8px 32px 0 rgba(216, 51, 241, 0.37);
    border-radius: 30px;

    .display-1{
      @extend %h1;
    }

  
  }
   .video{
    
    width:100%;
    max-width:600px;
    max-width: auto;
    height: 300px;
    padding-left: 0;
    border-radius: 20px;
    box-shadow: 5px 8px 30px magenta;
    
  }
  .texto{
    width: auto;
    height: auto;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px 50px;
    margin-bottom: 30px;
    @extend %fondo;
    
    
}
  

              
    

    


























        